extends ../layout

block content
	a(href='/bicicletas') Volver

	br
	br
	br

	h1 Nueva bicicleta

	br
	br

	form(action='/bicicletas/create' method='post')
		label(for='code') CODE:
		input#id(type='text' name='code')
		br
		label(for='color') COLOR:
		input#id(type='text' name='color')
		br
		label(for='modelo') MODELO:
		input#id(type='text' name='modelo')
		br
		label(for='lat') LATITUD:
		input#id(type='text' name='lat')
		br
		label(for='lng') LONGITUD:
		input#id(type='text' name='lng')
		br
		br
		input.btn(type='submit' value='OK')