extends ../layout

block content
	a(href='/bicicletas') Volver

	br
	br
	br

	h1 Modificar bicicleta

	br
	br

	form(action='/bicicletas/' + bici.id + '/update' method='post')
		label(for='code') CODE:
		input#id(type='text' name='code' value=bici.code)
		br
		label(for='color') COLOR:
		input#id(type='text' name='color' value=bici.color)
		br
		label(for='modelo') MODELO:
		input#id(type='text' name='modelo' value=bici.modelo)
		br
		label(for='lat') LATITUD:
		input#id(type='text' name='lat' value=bici.ubicacion[0])
		br
		label(for='lng') LONGITUD:
		input#id(type='text' name='lng' value=bici.ubicacion[1])
		br
		br
		input.btn(type='submit' value='OK')